*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11171a;
  color: aliceblue;
  padding: 2rem;
}

html {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

a {
  color: white;
  text-decoration: none;
}

