*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11171a;
  color: aliceblue;
}

html {
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

section.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10rem;
  min-height: 100vh;

  .container-home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  aside {
    display: flex;
    flex-direction: column;

    h1 {
      opacity: 0;
      font-size: 3.5rem;
      animation: show-home 2s ease forwards;
    }

    legend {
      opacity: 0;
      font-size: 1.25rem;
      margin-top: 0.875rem;
      animation: show-p 1s 1s ease forwards;

      div {
        display: inline-block;
        overflow: hidden;
        height: 1.2rem;

        span {
          display: block;
          animation: show-names 8s ease infinite;
        }

        span:nth-child(1),
        span:nth-child(3) {
          color: #16b4f8;
        }
        span:nth-child(2) {
          color: #b400eb;
        }
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
      display: inline-block;
      position: relative;
      transition: 0.2s 0.2s ease;
    }

    a:hover {
      color: #16b4f8;
    }

    a::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0) translateY(5px);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #16b4f8;
      transform-origin: bottom right;
      transition: transform 0.4s ease-out;
    }

    a:hover::after {
      transform: scaleX(1) translateY(5px);
      transform-origin: bottom left;
    }

    li {
      opacity: 0;
    }

    li:nth-child(1) {
      animation: reveal-ul 1s 1.5s ease-in-out forwards;
    }
    li:nth-child(2) {
      animation: reveal-ul 1s 1.6s ease-in-out forwards;
    }
    li:nth-child(3) {
      animation: reveal-ul 1s 1.7s ease-in-out forwards;
    }
    li:nth-child(4) {
      animation: reveal-ul 1s 1.8s ease-in-out forwards;
    }
    li:nth-child(5) {
      animation: reveal-ul 1s 1.9s ease-in-out forwards;
    }
    li:nth-child(6) {
      animation: reveal-ul 1s 2s ease-in-out forwards;
    }
  }

  main {
    display: flex;
    gap: 1rem;

    svg {
      opacity: 1;
      color: rgb(129, 129, 129);
      transition: 0.2s ease;
    }

    a {
      opacity: 0;
    }

    a:nth-child(1) {
      animation: show-social .5s 2.5s ease forwards;
    }
    a:nth-child(2) {
      animation: show-social .5s 2.6s ease forwards;
    }

    svg:hover {
      opacity: 1;
      color: #16b4f8;
    }
  }
}

section.about {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  width: 100%;
  min-height: 90vh;

  nav {
    width: 50%;
    margin-inline: auto;
    display: flex;
    padding: 2rem;
    ul {
      list-style: none;
      display: flex;
      margin-inline: auto;
      gap: 2rem;

      a {
        display: inline-block;
        position: relative;
        transition: 0.2s 0.2s ease;
      }

      a:hover {
        color: #16b4f8;
      }

      a::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0) translateY(5px);
        height: 2px;
        bottom: 0;
        right: 0;
        background-color: #16b4f8;
        transform-origin: bottom right;
        transition: transform 0.4s ease-out;
      }

      a:hover::after {
        transform: scaleX(1) translateY(5px);
        transform-origin: bottom left;
      }

      li {
        opacity: 0;
      }

      li:nth-child(1) {
        animation: show-nav 1s 0.1s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(2) {
        animation: show-nav 1s 0.2s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(3) {
        animation: show-nav 1s 0.4s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(4) {
        animation: show-nav 1s 0.6s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(5) {
        animation: show-nav 1s 0.8s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(6) {
        animation: show-nav 1s 1s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
    }
  }

  .container-about {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    aside {
      margin-inline: auto;
      width: 50%;
      h1 {
        opacity: 0;
        font-size: 2.5rem;
        margin-block: 3.5rem;
        animation: show-social 1s ease forwards;
        animation-timeline: view();
        animation-range: 400px 700px;
      }

      p {
        opacity: 0;
        font-size: 1rem;
        text-align: justify;
        margin-bottom: 1rem;
        span:nth-child(1) {
          color: #007acc;
        }
        span:nth-child(2) {
          color: #61dafb;
        }
        span:nth-child(3) {
          color: #3f873f;
        }
      }

      p:nth-child(2) {
        animation: show-p 1s ease forwards;
        animation-timeline: view();
        animation-range: 300px 700px;
      }
      p:nth-child(3) {
        animation: show-p 1s 0.2s ease forwards;
        animation-timeline: view();
        animation-range: 300px 700px;
      }
    }

    main {
      max-width: 50rem;
      height: 50vh;
      display: flex;
      margin-inline: auto;
      margin-top: 10rem;
      gap: 2rem;

      .tech-inner {
        height: 8rem;
      }

      .tech-inner:nth-child(1) {
        animation: show-tech linear forwards;
        animation-timeline: view();
        animation-range: 0 250px;
        .tech {
          background: #16333b;
          border-radius: 0.5rem;
          margin: 0 auto;
          width: 15rem;
          height: 8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &::after,
          &::before {
            content: "";
            position: absolute;
            height: 8.2rem;
            width: 15.2rem;
            background-image: conic-gradient(
              from var(--angle),
              transparent 30%,
              #61dafb
            );
            z-index: -1;
            padding: 4rem;
            border-radius: 0.5rem;
            animation: 5s spin linear infinite;
          }

          &::before {
            filter: blur(1.5rem);
            opacity: 0.2;
          }

          svg {
            width: 5rem;
          }
        }
      }

      .tech-inner:nth-child(2) {
        animation: show-tech linear forwards;
        animation-timeline: view();
        animation-range: 0px 210px;
        .tech {
          background: #1f1f1f;
          border-radius: 0.5rem;
          margin: 0 auto;
          width: 15rem;
          height: 8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &::after,
          &::before {
            content: "";
            position: absolute;
            height: 8.2rem;
            width: 15.2rem;
            background-image: conic-gradient(
              from var(--angle),
              transparent 30%,
              #66fb61
            );
            z-index: -1;
            padding: 4rem;
            border-radius: 0.5rem;
            animation: 5s spin linear infinite;
          }

          &::before {
            filter: blur(1.5rem);
            opacity: 0.2;
          }

          svg {
            width: 5rem;
          }
        }
      }

      .tech-inner:nth-child(3) {
        animation: show-tech linear forwards;
        animation-timeline: view();
        animation-range: 0px 220px;
        .tech {
          background: #092331;
          border-radius: 0.5rem;
          margin: 0 auto;
          width: 15rem;
          height: 8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &::after,
          &::before {
            content: "";
            position: absolute;
            height: 8.2rem;
            width: 15.2rem;
            background-image: conic-gradient(
              from var(--angle),
              transparent 30%,
              #61a9fb
            );
            z-index: -1;
            padding: 4rem;
            border-radius: 0.5rem;
            animation: 5s spin linear infinite;
          }

          &::before {
            filter: blur(1.5rem);
            opacity: 0.2;
          }

          svg {
            width: 5rem;
          }
        }
      }
    }
  }
}

section.projects {
  width: 100%;
  height: 90vh;
  padding: 2rem;
  nav {
    width: 50%;
    margin-inline: auto;
    display: flex;
    padding: 2rem;
    ul {
      list-style: none;
      display: flex;
      margin-inline: auto;
      gap: 2rem;

      a {
        display: inline-block;
        position: relative;
        transition: 0.2s 0.2s ease;
      }

      a:hover {
        color: #16b4f8;
      }

      a::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0) translateY(5px);
        height: 2px;
        bottom: 0;
        right: 0;
        background-color: #16b4f8;
        transform-origin: bottom right;
        transition: transform 0.4s ease-out;
      }

      a:hover::after {
        transform: scaleX(1) translateY(5px);
        transform-origin: bottom left;
      }

      li {
        opacity: 0;
      }

      li:nth-child(1) {
        animation: show-nav 1s 0.1s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(2) {
        animation: show-nav 1s 0.2s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(3) {
        animation: show-nav 1s 0.4s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(4) {
        animation: show-nav 1s 0.6s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(5) {
        animation: show-nav 1s 0.8s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
      li:nth-child(6) {
        animation: show-nav 1s 1s ease-in-out forwards;
        animation-timeline: view();
        animation-range: 200px 700px;
      }
    }
  }

  aside {
    width: 100%;
    padding: 1rem;

    animation: show-tech linear forwards;
    animation-timeline: view();
    animation-range: 0 750px;

    h1 {
      font-size: 1.5rem;
    }
  }

  .container-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    .project-wrapper {
      animation: show-projects linear forwards;
      animation-timeline: view();
      animation-range: 0 550px;

      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-inline: auto;
      gap: 4rem;

      .project-inner {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }

      .project-inner:nth-child(1) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;
        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #b964ff;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(2) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #ff6e64;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(3) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #ff64dd;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(4) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #ffffff;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(5) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #646eff;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(6) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #64ff64;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(7) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #ffffff;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(8) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #16b4f8;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
            rotate: 90deg;
          }
        }
      }

      .project-inner:nth-child(9) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #f85e16;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }

      .project-inner:nth-child(10) {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
        background: #1b1b1b;
        transition: 0.4s ease;
        width: 20rem;
        height: 10rem;

        img {
          object-fit: contain;
          transition: 0.4s ease;
        }

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20.1rem;
          height: 10.1rem;
          background: #f81680;
          border-radius: 0.75rem;
          padding: 2rem;
          z-index: -1;
          transition: 0.4s ease;
        }

        &::before {
          opacity: 0.2;
        }

        &:hover::before {
          filter: blur(2rem);
        }

        &:hover {
          background: #222222;
          img {
            scale: 1.1;
          }
        }
      }
    }
  }
}
