@keyframes show-home {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-p {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes reveal-ul {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show-social {
  from {
    opacity: 0;
    filter: blur(100%);
  }
  to {
    filter: blur(0%);
    opacity: 1;
  }
}

@keyframes show-names {
  0%,
  40% {
    transform: translateY(0);
  }
  41%,
  80% {
    transform: translateY(-1.5rem);
  }
  81%,
  100% {
    transform: translateY(-3rem);
  }
}

@keyframes show-nav {
  from {
    opacity: 0;
    filter: blur(100%);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes show-tech {
  from {
    opacity: 0;
    filter: blur(100%);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes hidden-home {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    filter: blur(100);
    transform: translateX(-100px);
  }
}


@keyframes spin {
  from{
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
