nav {
  width: 50%;
  margin-inline: auto;
  display: flex;
  padding: 2rem;
  ul {
    list-style: none;
    display: flex;
    margin-inline: auto;
    gap: 2rem;

    a {
      display: inline-block;
      position: relative;
      transition: 0.2s 0.2s ease;
    }

    a:hover {
      color: #16b4f8;
    }

    a::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0) translateY(5px);
      height: 2px;
      bottom: 0;
      right: 0;
      background-color: #16b4f8;
      transform-origin: bottom right;
      transition: transform 0.4s ease-out;
    }

    a:hover::after {
      transform: scaleX(1) translateY(5px);
      transform-origin: bottom left;
    }

    li {
      opacity: 0;
    }

    li:nth-child(1) {
      animation: show-nav 1s 0.1s ease-in-out forwards;
      animation-timeline: view();
      animation-range: 200px 700px;
    }
    li:nth-child(2) {
      animation: show-nav 1s 0.2s ease-in-out forwards;
      animation-timeline: view();
      animation-range: 200px 700px;
    }
    li:nth-child(3) {
      animation: show-nav 1s 0.4s ease-in-out forwards;
      animation-timeline: view();
      animation-range: 200px 700px;
    }
    li:nth-child(4) {
      animation: show-nav 1s 0.6s ease-in-out forwards;
      animation-timeline: view();
      animation-range: 200px 700px;
    }
    li:nth-child(5) {
      animation: show-nav 1s 0.8s ease-in-out forwards;
      animation-timeline: view();
      animation-range: 200px 700px;
    }
    li:nth-child(6) {
      animation: show-nav 1s 1s ease-in-out forwards;
      animation-timeline: view();
      animation-range: 200px 700px;
    }
  }
}

fieldset {
  width: 50rem;
  margin-inline: auto;
  padding: 1rem;
  border: none;
  animation: show-tech linear forwards;
  animation-timeline: view();
  animation-range: 0 200px;

  margin-top: 2rem;
  legend {
    font-size: 2rem;
  }
  p {
    font: 400 1rem/150% "Ubuntu", sans-serif;
    text-align: justify;
    img {
      vertical-align: middle;
    }
  }
}

fieldset:not(:last-of-type) {
  border-bottom: 1px solid #3b3b3b69;
}

.mobile-only {
  visibility: hidden;
}

.select-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 7rem;
  height: 13rem;
  top: 32px;
  right: 32px;
  justify-content: end;
  text-align: end;
  z-index: 2;
  border-radius: 0.75rem;
  clip-path: circle(9% at 84% 12%);
  transition: 0.5s ease;

  a {
    transition: 0.2s ease;
    padding: 0.25rem;

    &:hover {
      background-color: #16b4f8;
    }
  }

  a:not(:last-of-type) {
    border-bottom: 1px solid #47474736;
  }
}

.menu-hamburguer {
  width: 1.2rem;
  height: 0.875rem;
  position: relative;
  cursor: pointer;
  left: 76%;
  bottom: 7%;

  span:nth-child(1) {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  span:nth-child(3) {
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.menu-hamburguer span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.12rem;
  background-color: white;
  transition: 0.2s ease;
  transform-origin: center;
}

.menu-hamburguer.close-path span:nth-child(1) {
  transform: rotate(45deg) translateY(0);
  top: 50%;
}

.menu-hamburguer.close-path span:nth-child(2) {
  opacity: 0;
}

.menu-hamburguer.close-path span:nth-child(3) {
  transform: rotate(-45deg) translateY(0);
  top: 50%;
}

.active {
  clip-path: circle(150% at 84% 12%);
}

.blur {
  filter: blur(5px);
}
@media (width <= 40rem) {
  nav {
    display: none;
  }

  fieldset {
    width: 100%;
  }

  .mobile-only {
    visibility: visible;
  }
}
